<% content_for :navbar do %>
  <li><%= link_to 'Contact', '', fragment: 'contact', class: 'page-scroll' %></li>
<% end %>

<section id="contact" class="white-section contact">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Contact Us</h1>

        <p class="lead">
          Please do get in touch if you'd like me to help out on you Ruby on
          Rails project. I'd be delighted to get involved! The best way to get
          in touch is to drop me an email &ndash; use the button below &ndash;
          or click the speech bubble at the bottom right hand corner and leave
          me a message with your email address.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="mailto:<%= config[:email_address] %>" class="btn btn-primary">
          <i class="fa fa-envelope"></i>
          Send me an email
        </a>

        <p class="m-t-md">
          You can find me on most of the social media platforms. Here are the
          Wossname Industries 'corporate' (hehe) accounts, which stay mostly on
          topic:
        </p>

        <ul class="list-inline social-icon">
          <li>
            <a href="https://twitter.com/wossname"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/wossname-industries"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/wossname-industries"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row m-b-lg">
      <div class="col-sm-4 col-sm-offset-2">
        <h4>Address</h4>

        <address>
          <strong><span class="navy">Wossname Industries</span></strong><br/>
          11 Alexandra Terrace<br/>
          Teignmouth<br/>
          Devon TQ14 8HA<br/>
          United Kingdom<br />
          Telephone: <a href="tel:+44-7949-077744">+44 (0)7949 077744</a><br/>
          Email: <%= mail_to_link %>
        </address>
      </div>
      <div class="col-sm-4">
        <h4>Our Location</h4>

        <p class="text-color">
          Wossname Industries is based in Devon, in the South West of England.
          It's a beautiful part of the world! I've got beaches, and cliffs, and
          moors, and the city of Exeter, all within easy reach of home. The
          weather's not too bad, either.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p>
          <strong>
            Copyright &copy; 2016
            <%= utm_link_to 'Wossname Industries', 'https://woss.name/' %>.
          </strong> All rights reserved.
          <%= link_to 'Privacy Policy', '/privacy-policy/' %> |
          <%= link_to 'Terms of Service', '/terms-of-service/' %>
        </p>

        <p>
          "Ruby on Rails" is registered trademark of David Heinemeier Hansson. Technically, I haven't actually asked permission to use this domain name, but I've owned it since 2009 and thought I might as well put it to some use! It's better to ask forgiveness than permission, right? <tt>;-)</tt>
        </p>
      </div>
    </div>
  </div>
</section>
