<% content_for :navbar do %>
  <li><%= link_to 'Team', '', fragment: 'team', class: 'page-scroll' %></li>
<% end %>

<section id="team" class="white-section team">
  <div class="container">
    <div class="m-b-lg">
      <div class="text-center">
        <div class="navy-line"></div>
        <h1>Our Team</h1>
        <p class="lead">
          It's pretty much just me! I do have a regular team of people that I
          call on to help with particular aspects of a project, though, since
          one person can't provide for every specialisation. I can source
          &mdash; and manage &mdash; extra developers, designers, and site
          reliability engineers, depending on the needs of the project.
        </p>
      </div>
    </div>

    <% data.team.each do |id, member|%>
      <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <div class="team-member wow fadeInLeft">
            <%= image_tag member.image_url, alt: [member.first_name, member.last_name].compact.join(' '), class: 'img-responsive img-circle' %>
          </div>
        </div>

        <div class="col-md-5">
          <div class="wow fadeInRight">
            <h4>
              <span class="navy"><%= member.first_name %></span>
              <%= member.last_name %>
            </h4>

            <%= markdown member.bio %>

            <ul class="list-inline social-icon">
              <% member.social.each do |icon, url| %>
                <li>
                  <% link_to url do %>
                    <i class="fa fa-<%= icon %>"></i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center m-t-lg m-b-lg">
        <h2>Join us?</h2>
        <p>
          Incidentally, if you're looking to work with an awesome team, and
          you've got the right skills, please do get in touch. I'm always
          looking to expand the pool of contractors I can use for individual
          projects. Drop me an email, to
          <%= mail_to_link subject: 'Joining the Wossname Industries team?' %>,
          with some details on your experience and skill set.
        </p>
      </div>
    </div>
  </div>
</section>
