---
layout: landing-page
sitemap_priority: 1.0
---
<% content_for :navbar do %>
  <li><%= link_to 'Home', '', fragment: 'page-top', class: 'page-scroll' %></li>
<% end %>

<%= partial 'landing-page/slides' %>
<%= partial 'landing-page/welcome'%>
<%= partial 'landing-page/team'%>
<%= partial 'landing-page/contact' %>
